extends layouts/default

block content
  mixin product(img, name, description, href, price)
    .col-md-4.mb-4.mb-md-0
      a(target='_blank', href=href)
        .card.h-100
          img.card-img-top.img-fluid(src=img, alt='')                           
          .card-block.text-center
            h4.card-title.m-0=name
              br
              small.text-muted=description
          button.btn.btn-price(type='button')=price

  .tagline-upper.text-center.text-heading.text-shadow.text-white.mt-4.hidden-md-down.p-b-3 fancy coffee shit
  .tagline-lower.text-center.text-expanded.text-shadow.text-uppercase.text-white.mb-4.hidden-md-down everything you could ever want, nothing you actually need
  .container
    .bg-faded.p-4.my-4
      hr.divider         
      h2.text-center.text-lg.text-uppercase.my-0 The &nbsp;
        strong Kettles          
      hr.divider
      .row
        +product(
        "img/balmuda-kettle.jpg", 
        "Balmuda Electric Kettle", 
        "the most bad ass kettle on the market", 
        "http://amzn.to/2oRe3fS",
        "$186")
        +product(
        "img/dura-kettle.jpg",
        "Old Dutch DuraCopper",
        "bling bling",
        "http://amzn.to/2obPbN5",
        "$63")
        +product(
        "img/diguo-square.jpg",
        "Diguo Classic",
        "keep it classy",
        "http://amzn.to/2nWNqCv",
        "$31")
      hr.divider
      .row
        +product(
        "img/copper-square.jpg",
        "Diguo Premium",
        "old school",
        "http://amzn.to/2nWIzBo",
        "$49")
        +product(
        "img/stagg-black.jpg",
        "Stagg Stove Top Kettle",
        "murdered out",
        "http://amzn.to/2odrSnI",
         "$79")
        +product(
        "img/stagg-kettle.jpg", 
        "Stagg Silver", 
        "sleek and sexy", 
        "http://amzn.to/2nPuwwD", 
        "$69")
    .bg-faded.p-4.my-4
      hr.divider         
      h2.text-center.text-lg.text-uppercase.my-0 The &nbsp;
        strong Gadgets          
      hr.divider
      .row
        +product(
        "img/lulu.jpg",
        "Lulu Hand Coffee Maker",
        "imersion and pour over system",
        "http://amzn.to/2oUoe09",
        "$98")
        +product(
        "img/osaka.jpg",
        "Osaka Tripod Pour-Over Station",
        "because gold",
        "http://amzn.to/2pfLGEF",
        "$49")
        +product(
        "img/yama-dripper.jpg",
        "Yama Coffee Dripper",
        "hot or cold",
        "http://amzn.to/2oUkhIP",
        "$108")
      hr.divider
      .row
        +product(
        "img/moccomaster.jpg",
        "Moccamaster KBG 741 10-Cup Coffee Brewer",
        "stylish auto-drip made for the long haul",
        "http://amzn.to/2nWE7T0",
        "$329")
        +product(
        "img/baratza.jpg",
        "Baratza Sette 270W - Conical Burr",
        "the last grinder you'll ever need",
        "http://amzn.to/2nWR5QQ",
        "$499")
        +product(
        "img/one-touch.jpg",
        "Jura Impressa J9 One Touch Coffee Machine",
        "when you really want to impress your friends",
        "http://amzn.to/2nWP5YH",
        "$2,399")
      hr.divider
      .row
        +product(
        "img/rancilio.jpg",
        "Rancilio HSD-ROC-SS Rocky Espresso Coffee Grinder with Doser Chamber",
        "tinted dosage chanmber",
        "http://amzn.to/2nPgNFZ",
        "$365")
        +product(
        "img/trinity.jpg",
        "Trinity ONE 3-in-1 Press",
        "press, drip, immersion specialty coffee maker",
        "http://amzn.to/2oc4MfI",
        "$299")
        +product(
        "img/breville.jpg",
        "Breville Barista Express Espresso Machine",
        "unleash your inner barista",
        "http://amzn.to/2oUqNQ8",
        "$549")

        








