extends layouts/default

block content
  mixin product(img, name, description, href, price)
    .col-md-4.mb-4.mb-md-0
      a(target='_blank', href=href)
        .card.h-100
          img.card-img-top.img-fluid(src=img, alt='')                           
          .card-block.text-center
            h4.card-title.m-0=name
              br
              small.text-muted=description
          button.btn.btn-price(type='button')=price

  .tagline-upper.text-center.text-heading.text-shadow.text-white.mt-4.hidden-md-down.p-b-3 fancy coffee shit
  .tagline-lower.text-center.text-expanded.text-shadow.text-uppercase.text-white.mb-4.hidden-md-down everything you could ever want, nothing you actually need
  .container
    .bg-faded.p-4.my-4
      hr.divider         
      h2.text-center.text-lg.text-uppercase.my-0 The &nbsp;
        strong Kettles          
      hr.divider
      .row
        +product(
        "img/balmuda-kettle.jpg", 
        "Balmuda Electric Kettle", 
        "the most bad ass kettle on the market", "https://www.amazon.com/gp/product/B01M1HTWGZ/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01M1HTWGZ&linkId=28e8675075cf9437a1b02cb0542210b3",
        "$187")
        +product(
        "img/dura-kettle.jpg",
        "Old Dutch DuraCopper",
        "bling bling",
        "https://www.amazon.com/gp/product/B01MU80FRM/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01MU80FRM&linkId=46bea76fe616896d7316483c6424cfc8",
        "$63")
        +product(
        "img/diguo-square.jpg",
        "Diguo Classic",
        "keep it classy",
        "https://www.amazon.com/gp/product/B01FLHAOD4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01FLHAOD4&linkCode=as2&tag=laptopjungl0f-20&linkId=95171cb38c2d08c8a9b8943c1a6d7cfe",
        "$31")
      hr.divider
      .row
        +product(
        "img/copper-square.jpg",
        "Diguo Premium",
        "old school",
        "https://www.amazon.com/gp/product/B00QT3HURS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00QT3HURS&linkCode=as2&tag=laptopjungl0f-20&linkId=831af3009d4ab115916ada507da8d630",
        "$49")
        +product(
        "img/stagg-black.jpg",
        "Stagg Stove Top Kettle",
        "murdered out",
        "https://www.amazon.com/gp/product/B014UN7B7C/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B014UN7B7C&linkId=23c2756f3adc130d420ee16650aeb497",
         "$79")
        +product(
        "img/stagg-kettle.jpg", 
        "Stagg Silver", 
        "sleek and sexy", 
        "https://www.amazon.com/gp/product/B014UN8LDU/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B014UN8LDU&linkId=49a9c8a353c2d8cad63ff26dc37aa43f", 
        "$69")
    .bg-faded.p-4.my-4
      hr.divider         
      h2.text-center.text-lg.text-uppercase.my-0 The &nbsp;
        strong Gadgets          
      hr.divider
      .row
        +product(
        "img/lulu.jpg",
        "Lulu Hand Coffee Maker",
        "imersion and pour over system",
        "https://www.amazon.com/gp/product/B01GWJYJHM/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01GWJYJHM&linkId=4095d3efef1fe481a999de739abccc3a",
        "$98")
        +product(
        "img/osaka.jpg",
        "Osaka Tripod Pour-Over Station",
        "because gold",
        "https://www.amazon.com/gp/product/B01LZNHKFL/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZNHKFL&linkId=d75b51652a56b05eee67d64337f1f1f6",
        "$49")
        +product(
        "img/yama-dripper.jpg",
        "Yama Coffee Dripper",
        "hot or cold",
        "https://www.amazon.com/gp/product/B00X8P3H36/ref=as_li_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00X8P3H36&linkId=c3b5ceb733c39e9b129bda3969b32955",
        "$108")
      hr.divider
      .row
        +product(
        "img/moccomaster.jpg",
        "Moccamaster KBG 741 10-Cup Coffee Brewer",
        "stylish auto-drip made for the long haul",
        "https://www.amazon.com/gp/product/B00QKKYIGG/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00QKKYIGG&linkId=96b6cbd4d890034493cde458c9eeda4e",
        "$329")
        +product(
        "img/trinity.jpg",
        "Trinity ONE 3-in-1 Press",
        "press, drip, immersion specialty coffee maker",
        "https://www.amazon.com/gp/product/B01N63BMJZ/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01N63BMJZ&linkId=da0f964931865e4f7a9aa7b9d008a3ad",
        "$299")
        +product(
        "img/one-touch.jpg",
        "Jura Impressa J9 One Touch Coffee Machine",
        "when you really want to impress your friends",
        "https://www.amazon.com/gp/product/B0051O8YRQ/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=laptopjungl0f-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0051O8YRQ&linkId=a1032df73578b7fbf6c20c78ad2d3f97",
        "$2,399")

        








